@font-face {
    font-family: 'Amazon Ember';
    src: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_rg-cc7ebaa05a2cd3b02c0929ac0475a44ab30b7efa._V2_.woff2);format("woff2"),url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_rg-8a9db402d8966ae93717c348b9ab0bd08703a7a7._V2_.woff) format("woff")};

@font-face {
    font-family: 'Amazon Ember';
    font-style: italic;
    src: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_rgit-9cc1bb64eb270135f1adf3a4881c2ee5e7c37be5._V2_.woff2) format("woff2"),url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_rgit-a4dc98d644ff2aedd41da3da462f09ffce86eafb._V2_.woff) format("woff")};

@font-face {
    font-family: 'Amazon Ember';
    font-weight: 700;
    src: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_bd-46b91bda68161c14e554a779643ef4957431987b._V2_.woff2) format("woff2"),url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_bd-b605252f87b8b3df5ae206596dac0938fc5888bc._V2_.woff) format("woff")};

@font-face {font-family: 'Amazon Ember';
    font-style: italic;
    font-weight: 700;
    src: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_bdit-80ff7aba37dd1ff5a6b90233a19e3a780a96dc2f._V2_.woff2) format("woff2"),url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_bdit-57598ce426a612be5a1d15eee08252668fca5e7a._V2_.woff) format("woff")};

.a-ember body {
    font-family:"Amazon Ember", Arial, sans-serif
}

.a-ember

.a-text-quote {
    font-family: "Amazon Ember", Arial, sans-serif
}


#des_itemDescriptionModule {
    font-family: "Amazon Ember";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

#des_title {
    font-size: 21px;
    line-height: 1.3;
    padding-bottom: 10px;

}

#des_reviewsRatingsQuestions{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px solid rgb(202, 197, 197);
    margin-bottom: 15px;
    padding-bottom: 4px;
}

#des_rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#des_stars {
    padding-right: 10px;
}

#des_numOfRatings {
    color: royalblue;
    font-size: 14px;
    padding-left: 5px;
}

#des_numOfRatings:hover {
    color: rgb(204, 131, 48);
    text-decoration: underline;
    font-size: 14px;
    padding-left: 5px;
    cursor: pointer;
}

#des_stars_img {
    height: 20px;
}

#des_expand_arrow {
    height: 20px;
}


#des_numOfQuestions {
    color: royalblue;
    font-size: 14px;
}

#des_numOfQuestions:hover {
    color: rgb(204, 131, 48);
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
}

#des_listPrice {
    font-size: 14px;
    padding-bottom: 5px;
}

#des_crossedOut {
    text-decoration: line-through;
}

#des_price {
    font-size: 14px;
    padding-bottom: 10px;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}

#des_money {
    font-size: 18px;
    color: rgb(153, 4, 4);
}

#des_colorChoice {
    font-size: 13px;
}

#des_colorPhotos {
    display: flex;
    justify-content: flex-start;
    margin-top: 7px;
}

#des_redPhoto {
    height: 50px;
    -webkit-filter: invert(40%) grayscale(100%) brightness(50%) sepia(100%) hue-rotate(-50deg) saturate(200%) contrast(2);
    filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(-50deg) saturate(300%) contrast(0.8);
    margin-right: 20px;
}

#des_redImgBorder {
    height: 50px;
    width: 50px;
    border: 1px solid lightgrey;
}

#des_redImgBorder:hover {
    border: 1px solid rgb(119, 118, 118);
    cursor: pointer;
}



#des_bluePhoto {
    height: 50px;
    -webkit-filter: grayscale(100%) brightness(70%) sepia(100%) hue-rotate(-180deg) saturate(300%) contrast(0.8);
    filter: grayscale(100%) brightness(70%) sepia(100%) hue-rotate(-180deg) saturate(300%) contrast(0.8);
    margin-right: 20px;
}

#des_blueImgBorder {
    height: 50px;
    width: 50px;
    border: 1px solid lightgrey;
}

#des_blueImgBorder:hover {
    border: 1px solid rgb(119, 118, 118);
    cursor: pointer;
}

#des_purplePhoto {
    height: 50px;
    -webkit-filter: invert(20%) grayscale(100%) brightness(70%) sepia(100%) hue-rotate(-115deg) saturate(250%) contrast(1.4);
    filter: grayscale(100%) brightness(70%) sepia(100%) hue-rotate(-115deg) saturate(300%) contrast(0.8);
    margin-right: 20px;
}

#des_purpleImgBorder {
    height: 50px;
    width: 50px;
    border: 1px solid lightgrey;
}

#des_purpleImgBorder:hover {
    border: 1px solid rgb(119, 118, 118);
    cursor: pointer;
}

#des_greenPhoto {
    height: 50px;
    -webkit-filter: grayscale(100%) brightness(60%) sepia(100%) hue-rotate(50deg) saturate(400%) contrast(0.8);
    filter: grayscale(100%) brightness(60%) sepia(100%) hue-rotate(50deg) saturate(400%) contrast(0.8);
    margin-right: 20px;
}

#des_greenImgBorder {
    height: 50px;
    width: 50px;
    border: 1px solid lightgrey;
}

#des_greenImgBorder:hover {
    border: 1px solid rgb(119, 118, 118);
    cursor: pointer;
}

#des_yellowPhoto {
    height: 50px;
    -webkit-filter: grayscale(100%) brightness(90%) sepia(90%) hue-rotate(5deg) saturate(500%) contrast(0.7);
    filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(5deg) saturate(500%) contrast(0.7);
    margin-right: 20px;
}

#des_yellowImgBorder {
    height: 50px;
    width: 50px;
    border: 1px solid lightgrey;
}

#des_yellowImgBorder:hover {
    border: 1px solid rgb(119, 118, 118);
    cursor: pointer;
}

#des_orangePhoto {
    height: 50px;
    -webkit-filter: invert(20%) grayscale(100%) brightness(70%) sepia(100%) hue-rotate(-25deg) saturate(350%) contrast(1);
    filter: grayscale(100%) brightness(70%) sepia(95%) hue-rotate(-30deg) saturate(400%) contrast(0.8);
    margin-right: 20px;
}

#des_orangeImgBorder {
    height: 50px;
    width: 50px;
    border: 1px solid lightgrey;
}

#des_orangeImgBorder:hover {
    border: 1px solid rgb(119, 118, 118);
    cursor: pointer;
}

#des_invisiblePhoto {
    height: 50px;
    -webkit-filter: brightness(100000%);
    filter: brightness(100000%);
    margin-right: 20px;
}

#des_invisibleImgBorder {
    height: 50px;
    width: 50px;
    border: 1px solid lightgrey;
}

#des_invisibleImgBorder:hover {
    border: 1px solid rgb(119, 118, 118);
    cursor: pointer;
}

.des_sellingPoint {
    font-size: 14px;
}

.des_blue {
    color: royalblue;
}

.des_blue:hover {
    color: rgb(204, 131, 48);
    text-decoration: underline;
    cursor: pointer;
}

.des_bold {
    font-weight: bolder;
}

.des_grey {
    font-size: 18px;
    color: rgb(172, 170, 170);
    margin-right: 15px;
    margin-left: 15px;
}